---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Blog.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout {...post.data}>
	<div class="album">
		<img class="img-large" src={post.data.heroImage} alt="" />
	</div>
	<h1>{post.data.title}</h1>
	<FormattedDate date={post.data.pubDate} />
	<Content />
</Layout>
