---
import { Image } from 'astro:assets';
import charlotte from '../../images/vt/vt-charlotte.jpg'
import atWork from '../../images/vt/vt-charlotte-at-work.jpg'
import drawing from '../../images/vt/vt-charlotte-drawing.jpg'

import GalleryImage from '../GalleryImage.astro';
import Testimonial from '../Testimonial.astro';
---

<section>
	<h2 id="about">About Capability Charlotte</h2>
	<div class="columns">
		<div class="col one-half">
			<p class="lead">
				Charlotte Howard is Capable by name and by nature, her passion for art, design and wildlife is her calling and what drives her. The joy and excitement she sees in her clients faces when she presents her designs is what lifts her soul. She feels she’s very lucky to have a job that makes people’s lives that little bit better.
			</p>
			<p class="lead">
				Charlotte is also highly qualified, she is an RHS Master of Horticulture with a National Diploma in Horticulture, but she sees her two decades of hands-on gardening, as well as her 10 years of experience in fashion retail and sales, as her real qualifications.
			</p>
		</div>
		<div class="col one-half">
		<GalleryImage
			title="Charlotte Howard MHort (RHS), ND Hort.">
			<Image
				src={charlotte}
				alt="Charlotte Howard sitting on a bench in her garden with a summer house in the distance and a border in the foreground. Photo by Victoria Tapper"
				title="Charlotte Howard MHort (RHS), ND Hort. Photo by Victoria Tapper" />
		</GalleryImage>
		</div>
	</div>
	<div class="columns">
		<div class="col one-third">
		<GalleryImage
			title="Charlotte at work">
				<Image
					src={atWork}
					alt="Charlotte sitting at a drawing board and looking out of the window. Photo by Victoria Tapper"
					title="Charlotte at work. Photo by Victoria Tapper" />
		</GalleryImage>
		</div>
		<div class="col two-thirds">
			<p class="lead">
				Charlotte has spent many years refining her skills, constantly learning and updating her knowledge. She likes to keep up with the trends and is always learning new skills and techniques to give the best possible service to her clients.
			</p>
			<p class="lead">
				Charlotte comes from a bohemian family of artists, designers, architects and historians and believes her background gives her a unique edge. She is also practical, funny, friendly and down to earth. Clients feel at ease with Charlotte, and say she has an uncanny knack of drawing out of people what they want.
			</p>
			<p class="lead">
				Charlotte will take time to get to know you and the other people who will use the garden. Many of her clients have said they have discovered an unknown passion for gardening once they finally have a garden that works for them.
			</p>
		</div>
	</div>
	<Testimonial keyName="diluki" />
	<div class="columns">
		<div class="col two-thirds">
			<p class="lead">
				Charlotte's beautiful, hand-drawn designs are a work of art that many clients have framed. They are natural, simple and elegant, always with a twist of quirkiness to reflect your own personal style.
			</p>
			<p class="lead">
				Charlotte prefers to create real gardens, working with the contours of the space. She uses soft curves to create a flow that leads you gently around your garden to a moment of joy or surprise, a secret nook to sit and read, or a hidden mirror that deceives you into thinking the garden goes further. She believes gardens should bring out your inner child.
			</p>
		</div>
		<div class="col one-third">
		<GalleryImage
			title="Charlotte prefers to draw by hand"
			tallCaption>
			<Image
				src={drawing}
				alt="Charlotte sitting at a drawing board and colouring in a hand drawn design. Photo by Victoria Tapper"
				title="Charlotte prefers to draw by hand. Photo by Victoria Tapper" />
		</GalleryImage>
		</div>
	</div>
</section>
