---
import { Image } from 'astro:assets';
import charlotte from '../../images/vt/vt-charlotte.jpg'
import atWork from '../../images/vt/vt-charlotte-at-work.jpg'
import drawing from '../../images/vt/vt-charlotte-drawing.jpg'

import GalleryImage from '../GalleryImage.astro';
import Testimonial from '../Testimonial.astro';
---

<section aria-labelledby="about">
	<h2 id="about">About Me</h2>
	<div class="columns">
		<div class="col one-half">
			<p class="lead">
				I&rsquo;m Capable by name and by nature - my passion for art, design and wildlife is my calling and what drives me. The joy and excitement I see in my clients&rsquo; faces when I present my designs is what lifts my soul. I feel very lucky to have a job that makes people&rsquo;s lives that little bit better.
			</p>
			<p class="lead">
				I&rsquo;m also highly qualified - I&rsquo;m an RHS Master of Horticulture with a National Diploma in Horticulture, but I see my two decades of hands-on gardening in Wiltshire and Bath, as well as my 10 years of experience in customer service-based jobs and as a fashion stylist, as my real qualifications.
			</p>
		</div>
		<div class="col one-half">
		<GalleryImage
			title="Charlotte Howard MHort (RHS), ND Hort.">
			<Image
				src={charlotte}
				alt="Charlotte Howard sitting on a bench in her garden with a summer house in the distance and a border in the foreground. Photo by Victoria Tapper"
				title="Charlotte Howard MHort (RHS), ND Hort. Photo by Victoria Tapper" />
		</GalleryImage>
		</div>
	</div>
	<div class="columns">
		<div class="col one-third">
		<GalleryImage
			title="Charlotte at work">
				<Image
					src={atWork}
					alt="Charlotte sitting at a drawing board and looking out of the window. Photo by Victoria Tapper"
					title="Charlotte at work. Photo by Victoria Tapper" />
		</GalleryImage>
		</div>
		<div class="col two-thirds">
			<p class="lead">
				I&rsquo;ve spent many years refining my skills, constantly learning and updating my knowledge. I like to keep up with the trends and am always learning new skills and techniques to give the best possible service to my clients.
			</p>
			<p class="lead">
				I come from a bohemian family of artists, designers, architects and historians and believe my background gives me a unique edge. I'm also practical, funny, friendly and down to earth. My clients feel at ease with me, and say I have an uncanny knack of drawing out of people what they want.
			</p>
			<p class="lead">
				I&rsquo;ll take time to get to know you and the other people who will use the garden. Many of my clients have said they discovered an unknown passion for gardening once they finally had a garden that works for them.
			</p>
		</div>
	</div>
	<Testimonial keyName="diluki" />
	<div class="columns">
		<div class="col two-thirds">
			<p class="lead">
				I have been told many times that my beautiful, hand-drawn designs are a work of art, and many clients have framed them. They are natural, simple and elegant, always with a twist of quirkiness to reflect your own personal style.
			</p>
			<p class="lead">
				I prefer to create real gardens, working with the contours of the space. I use soft curves to create a flow that leads you gently around your garden to a moment of joy or surprise, a secret nook to sit and read, or a hidden mirror that deceives you into thinking the garden goes further. I believe gardens should bring out your inner child.
			</p>
		</div>
		<div class="col one-third">
		<GalleryImage
			title="I prefer to draw by hand"
			tallCaption>
			<Image
				src={drawing}
				alt="Charlotte sitting at a drawing board and colouring in a hand drawn design. Photo by Victoria Tapper"
				title="I prefer to draw by hand. Photo by Victoria Tapper" />
		</GalleryImage>
		</div>
	</div>
</section>
