---
import Testimonial from "../Testimonial.astro";
---

<section aria-labelledby="lectures">
  <h2 id="lectures">Lectures and Talks</h2>
	<p class="lead">
		Charlotte is a member of the <a href="https://www.gardenmediaguild.co.uk/guild-members/8aa71a29-baae-4223-850c-9dbde8a16953/">Garden Media Guild</a>
		and is a regular speaker on the Garden Club circuit and has been invited to be a guest speaker on <a href="https://www.landscapeshow.co.uk/speakers/charlotte-howard">The Landscape Show</a>. Her lectures include:
	</p>
	<ul>
		<li>My Life as a Garden Designer</li>
		<li>Garden Design for Dummies</li>
		<li>How to Design Your Garden</li>
		<li>Houseplants and How Not to Kill Them</li>
		<li>Getting to Grips with Your Soil</li>
		<li>Green With Envy &mdash; Are Green Walls all They Are Cracked Up to Be?</li>
		<li><b>Coming Soon:</b> The Botanic Finds of The Lewis and Clarke Trail</li>
		<li><b>Coming Soon:</b> Don't Put Your Garden to Bed &mdash; tips &amp; tricks for keeping you garden wildlife friendly over winter</li>
	</ul>
	<p class="lead">
		Charlotte also regularly runs a five week live online course called
		<a href="https://www.eventbrite.co.uk/e/1074317194649">How to Design Your Garden &mdash; With Special Guests</a>
	</p>
	<p class="lead">
		Additional terms and conditions for lectures can be found <a href="/terms#lectures" title="Lecture terms and conditions">here</a>.
	</p>
	<Testimonial keyName="wi" />
</section>