---
import Testimonial from "../Testimonial.astro";
---

<section aria-labelledby="lectures">
  <h2 id="lectures">Garden Talks</h2>
	<p class="lead">
		I am avaliable for fun, engaging and informative talks throughout the UK. * I am listed as a speaker with the <a href="https://hardy-plant.org.uk/">Hardy Plant Society</a>
		and am a regular speaker on the Garden Club circuit and have been invited to be a guest speaker on <a href="https://www.landscapeshow.co.uk/speakers/charlotte-howard">The Landscape Show</a>.
	</p>
	<p class="lead">
		Fees: £150 per talk, plus 45p per mile travel from Wiltshire. Online talks also available 
		&mdash; please enquire for details.
	</p>
	<p class="lead">
		Available talks:
	</p>
	<ul>
		<li>
			<em>My Life as a Garden Designer</em> &mdash; A funny, light-hearted talk about my eccentric 
			path to becoming a garden designer from muddy beginnings to mentoring clients across the South West.
		</li>
		<li>
			<em>Garden Design for Dummies</em> &mdash; My five simple, no-nonsense steps to designing a 
			garden that actually works for your life. No Latin, no lofty design speak, just practical 
			advice and clear ideas.
		</li>
		<li>
			<em>Houseplants and How Not to Kill Them</em> &mdash; Whether you're a serial plant murderer 
			or just want to up your indoor plant game, this talk covers the key to long-living, healthy 
			houseplants.
		</li>
		<li>
			<em>Green With Envy &mdash; Are Green Walls all They&rsquo;re Cracked Up to Be?</em> &mdash; 
			Living walls are trendy, but do they live up to the hype? I&rsquo;ll explore the pros and cons, 
			and what to consider before you go vertical.
		</li>
		<li>
			<em>Don&rsquo;t Put Your Garden to Bed</em> &mdash; A winter garden can still be full of 
			life. Learn how to keep your garden interesting (and friendly to wildlife) through the 
			colder months.
		</li>
	</ul>
	<p class="small">
		* Travel expenses may apply, see <a href="/terms">terms and conditions</a> for details.
	</p>
	<Testimonial keyName="crick" />
	<p class="lead">
		I also regularly run a five week live online course called
		<a href="https://www.eventbrite.co.uk/e/1074317194649">How to Design Your Garden &mdash; With Special Guests</a>
	</p>
	<p class="lead">
		Additional terms and conditions for lectures can be found <a href="/terms#lectures" title="Lecture terms and conditions">here</a>.
	</p>
	<Testimonial keyName="wi" />
</section>