<section aria-labelledby="partners">
	<h2 id="partners">Charlotte's partners</h2>
	<h3>Landscapers</h3>
	<p class="lead">
		<a target="_blank" rel="noreferrer" href="https://anthonydearlandscapes.co.uk/">Anthony Dear Landscapes</a> &mdash; Hard landscaping and building<br />
		<a target="_blank" rel="noreferrer" href="https://www.gardendoctorchris.co.uk/">Garden Doctor Chris</a> &mdash; Creative and biodiverse gardening and landscaping<br />
		<a target="_blank" rel="noreferrer" href="https://www.viridislandscapesltd.com/">Viridis Landscapes</a> &mdash; Female-run hard landscaping, planting and building team<br />
		<a target="_blank" rel="noreferrer" href="https://www.pavedinstone.co.uk/">Paved in Stone Ltd</a> &mdash; Award winning hard landscaping, specialists in natural stone paving.
	</p>
	<h3>Plant Suppliers</h3>
	<p class="lead">
		<a target="_blank" rel="noreferrer" href="https://www.arvensisperennials.co.uk/">Arvensis Perennials</a> &mdash; Trade-only nursery, for herbaceous perennials, grasses and ferns<br />
		<a target="_blank" rel="noreferrer" href="https://bartersfarmnurseries.co.uk">Barters Farm Nurseries</a> &mdash; Trade nursery with public plant centre. Trees, perennials and grasses, particularly good for shrubs.<br />
		<a target="_blank" rel="noreferrer" href="https://www.downsidenurseries.co.uk/">Downside Nurseries</a> &mdash; Family-run nursery, open to the public 7 days a week<br />
		<a target="_blank" rel="noreferrer" href="https://samscapeplants.co.uk/">Samscape Plants</a> &mdash; Tropical and Mediterranean plants<br />
		<a target="_blank" rel="noreferrer" href="https://www.facebook.com/TerrachicUK/">Terrachic of Bath</a> &mdash; Terrariums and indoor gardens<br />
		<a target="_blank" rel="noreferrer" href="http://www.wknurseries.co.uk/">West Kington Nurseries</a> &mdash; Trade-only nursery for perennials, grasses and shrubs. See website for public sale days<br />
		<a target="_blank" rel="noreferrer" href="https://www.kingsdown-uk.com/">Kingsdown </a> &mdash; Specialists in mature trees and shrubs
	</p>
	<h3>Other Professionals</h3>
	<p class="lead">
		<a target="_blank" rel="noreferrer" href="https://www.facebook.com/greengoddesscalne/">Green Goddess Gardening</a> &mdash; Carlie Green, garden maintenance and planting<br />
		<a target="_blank" rel="noreferrer" href="https://thederryhillflorist.com/">The Derry Hill Florist</a> &mdash; Floral designs and workshops<br />
		<a target="_blank" rel="noreferrer" href="https://bolingbroke.design/">Bolingbroke Design Service</a> &mdash; Architects practice<br />
		<a target="_blank" rel="noreferrer" href="https://www.victoriatapperphotography.co.uk/photography-in-wiltshire-and-london.php">Victoria Tapper</a> &mdash; Business and lifestyle photography<br />
		<a target="_blank" rel="noreferrer" href="https://www.lensculture.com/guy-bellingham">Guy Bellingham</a> &mdash; Fine art portrait photographer
	</p>
</section>
