---
import { Image } from 'astro:assets';

import wadswick from '../../images/wadswick/cover.JPG';
import workers from '../../images/wadswick/workers-cropped.jpg';

import Gallery from '../Gallery.astro';
import GalleryImage from '../GalleryImage.astro';
import Testimonial from '../Testimonial.astro';
---

<section aria-labelledby="management">
	<h2 id="management">Project Management</h2>
	<Gallery large>
		<GalleryImage
			title="Wadswick Green"
			text="Hot colour plants in one of the large beds at Wadswick Green. Designed by Charlotte and planted by her team."
			alt="A variety of hot colour plants in Wadswick Green">
				<Image
          src={wadswick}
          alt="A variety of hot colour plants in Wadswick Green"
          title="Wadswick Green"
					width={800}
        />
		</GalleryImage>
	</Gallery>

	<p class="lead">
		Charlotte can also take on large-scale commercial and residential projects, both as a designer and a project
		manager. Her largest scheme to date was with Wadswick Green Retirement Village in Corsham, Wiltshire. <a
			href="/wadswick/">Find out
			more about the project here.</a>
	</p>

	<div class="columns">
		<div class="col one-half">
			<p class="lead">For residential maintenance work Capability Charlotte can also put you in contact with her
				network of highly trained gardeners and landscapers who can assist with everything garden related including
				one-off blitzes, occasional or regular maintenance, border revamps or complete makeovers.</p>
			<Testimonial keyName="nat" />
		</div>
		<div class="col one-half">
			<GalleryImage
				narrowTallCaption
				title="Charlotte's team planting at Wadswick Green"
				alt="Charlotte's garden maintenance team at work planting in Wadswick Green">
					<Image
            src={workers}
				    title="Charlotte's team planting at Wadswick Green"
				    alt="Charlotte's garden maintenance team at work planting in Wadswick Green"
          />
			</GalleryImage>
		</div>
	</div>
</section>
