---
import { Image } from 'astro:assets';

import Layout from '../layouts/Brochure.astro';
import GalleryImage from '../components/GalleryImage.astro';
import Gallery from '../components/Gallery.astro';

import before from '../images/front-gardens/yy-front-before.jpg';
import after from '../images/front-gardens/vt-front-lavendar-m.webp';
import door from '../images/front-gardens/vt-front-door.jpg';
---

<Layout
  title="Front Gardens"
  description="Charlotte's simple but effective ideas for front gardens with lavendar and benches."
>
  <h2>Front Gardens</h2>
  <Gallery>
    <GalleryImage
      title="Before"
      tallCaption
    >
      <Image
        title="Before"
        alt="A small area of plain lawn and simple shrubs in front of a house."
        src={before}
      />
    </GalleryImage>
    <GalleryImage
      title="After"
      tallCaption
    >
      <Image
        title="After"
        alt="The front of the same house, now with lavender borders and bay trees and benches either side of the door."
        src={after}
      />
    </GalleryImage>
  </Gallery>
  <p class="lead">
    Charlotte loves designing for front gardens, if you are lucky enough to have a front space, 
    this is your chance to show off and impress the neighbours!
  </p>
  <p class="lead">
    In this garden Charlotte ditched the shabby grass and replaced it with porous hoggin which will be seeded with erigeron.
  </p>
  <p class="lead">
    Because this front garden is small, Charlotte kept it simple and elegant, to give the house curb appeal. 
    She replaced the depressing, half-dead supermarket carpark shrubs planted by the developers, 
    with stunning Lavandula Angustifolia 'Hidcote'. To soften the house, Charlotte picked up the colour of the 
    lavender in the bay window beds with Verbena bonariensis, Campanula and Clematis Jackmanii, 
    with a shock of hot pink from climbing rose 'Gertrude Jekyll'.
  </p>
  <p class="lead">
    For winter interest, she planted Daphne Odora which will hopefully fill that space. 
  </p>
  <p class="lead">
    Finally, Charlotte added two simple benches, this garden has stunning views across the fields. The client loves sitting here watching the birds in the hedgerow opposite and chatting to passers-by.
  </p>
  <p>Garden built by Paved in Stone</p>
  <div class="album">
    <Image
      class="img-large"
      src={door}
      alt="A smart front door with lavendar and bay trees"
    />
  </div>
  <div class="center">
    <p class="lead">
      <a href="/#design">Back to Charlotte's Gardens</a>
    </p>
  </div>
</Layout>
