---
import { Image } from 'astro:assets';

import Layout from '../layouts/Brochure.astro';

import japanese from '../images/japanese/japanese.png';
import design from '../images/japanese/japanese-design.png';
---

<Layout title="The Japanese Garden">
	<h2>The Japanese Garden</h2>
	<div class="album">
		<Image class="img-large" src={japanese} alt="Charlotte's gold medal-winning Japanese Show Garden" />
	</div>
	<p class="lead">This was my Gold Medal winning garden for the Bath and West show, created while I was
			studying for my Diploma in Horticulture at Wiltshire College, Lackham. The challenge was to fit a garden
			into a very small space at a budget of under £1,000. I was inspired by my love of Japanese Gardening the
			simplicity and clean lines fitted this small space well, the ‘Shishi Odoshi’ (Deer Scarer), made from a
			bucket covered in chicken wire and ‘Tufa’ made an effective and authentic water feature.</p>
	<div class="album">
		<Image class="img-large" src={design} alt="Charlotte's drawing for the Japanese Show Garden" />
	</div>
	<div class="center">
		<p class="lead">
			<a href="/#design">Back to Charlotte's Gardens</a>
		</p>
	</div>
</Layout>
