---
import { Image } from 'astro:assets';

import Layout from '../layouts/Brochure.astro';
---

<Layout title="Media">
	<h1>Media</h1>
	Charlotte is available as a presenter and horticulture expert on TV. Former Bath Chronicle writer. Frequent guest on BBC Wiltshire Radio.
	<h2>Showreel</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BqNw1tAdLfY?si=Xn9qgikoZEjooEjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<h2>Full Credits</h2>
	<h3>TV</h3>
	<h3>Print</h3>
	<h3>Radio and Podcasts</h3>
</Layout>
