---
import { Image } from 'astro:assets';

import Layout from '../layouts/Brochure.astro';
---

<Layout title="Media">
	<h1>Media</h1>
	<p class="lead">
		Charlotte is confident, natural, amusing and articulate on camera, and has made dozens
		of appearances on a variety of TV programmes sharing her passions and values. She is
		available as a presenter and expert guest on a huge range of subjects including: Garden
		Design, Historic Gardens, wildlife friendly gardening, the horrors of artificial grass and all
		things horticulture.
	</p>
	<p class="lead">
		Charlotte is a frequent guest on BBC Wiltshire Radio. Her opinions on environmentally
		related horticultural issues are regularly sought by Hort Week, The Landscaper Magazine,
		the Guardian, the Daily Mail and the Wiltshire Gazette and Herald as well as Podcasts
		such as View From the Potting Bench, The Underground Podcast and The Landscaper
		Circle Podcast.
	</p>
	<p class="lead">
		A former Bath Chronicle writer, blogger and member of The Garden Media Guild
		Charlotte is also happy to write editorial on any subject.
	</p>
	<h2>Showreel</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BqNw1tAdLfY?si=Xn9qgikoZEjooEjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<h2>Full Credits</h2>
	<h3>TV & Video</h3>
	<ul>
		<li>20/10/2023 - <a href="https://www.bbc.co.uk/programmes/m001rkm9">Gardener's World on BBC Two</a> - Expert guest on artificial grass segment.</li>
		<li>21/11/2022 - Real Media <a href="https://www.youtube.com/watch?v=cv1v55Bffj4">Artificial grass - Exposing the greenwash at a trade expo, with Plastics Rebellion.</a></li>
		<li>09/08/2022 - BBC News <a href="https://www.bbc.co.uk/news/av/uk-62471230">Campaigners call for artificial grass tax</a></li>
		<li>24/07/2022 - Channel 4 News <a href="https://www.channel4.com/news/why-campaigners-are-calling-for-ban-on-artificial-grass">Why campaigners are calling for ban on artificial grass</a></li>
		<li>12/05/2021 - YouTube <a href="https://www.youtube.com/watch?v=ns6r3vIxM_k&ab_channel=CapabilityCharlotte">Interview with clients Hannah and Luke</a></li>
		<li>29/08/2019 - YouTube <a href="https://www.youtube.com/watch?v=W75sriPoTsU&ab_channel=CapabilityCharlotte">Women in Uncomfortable Workwear - Episode 1</a></li>
	</ul>
	<h3>Print</h3>
	<ul>
		<li>08/03/2024 - Listed on the Hort Week <a href="https://www.hortweek.com/international-womens-day-100+-leading-women-horticulture-2024/ornamentals/article/1864307">100 Leading Women in Horticulture 2024</a></li>
		<li>25/03/2023 - The Daily Mail &ldquo;<a href="https://www.dailymail.co.uk/property/article-11886147/Im-professional-garden-designer-18-reasons-NEVER-install-fake-grass.html">I'm a professional garden designer and here are 18 reasons why you should NEVER install fake grass</a>&rdquo;</li>
		<li>18/03/2023 - The Daily Mail <a href="https://www.dailymail.co.uk/home/article-11862873/The-new-build-estate-garden-home-carpeted-fake-grass.html">England's green and PLASTIC land</a></li>
		<li>08/03/2023 - Allett <a href="https://allett.co.uk/blogs/blog/international-womens-day-charlotte-howard">International Women's Day-Meet Charlotte Howard, Garden Designer and Horticultural Consultant</a></li>
		<li>17/02/2023 - Pro Landscaper Magazine <a href="https://issuu.com/eljays44/docs/march_2023/28">Fake or Break?</a></li>
		<li>07/09/2022 - Wiltshire Times <a href="https://www.wiltshiretimes.co.uk/news/21159477.campaign-ban-fake-grass-involving-melksham-woman-hits-defra/">Campaign to ban fake grass involving Melksham woman hits DEFRA</a></li>
		<li>01/09/2022 - Gazette and Herald <a href="https://www.gazetteandherald.co.uk/news/20876895.melksham-campaigner-raises-alarm-plastic-grass-dangers/">Melksham campaigner raises alarm on plastic grass dangers</a></li>
		<li>25/07/2023 - Sow & Root <a href="https://www.sowandroot.co.uk/roots/shit-lawns">Sh*t Lawns</a></li>
		<li>16/09/2022 - Pro Landscaper Magazine <a href="https://www.prolandscapermagazine.com/timeforturf-the-brains-behind-the-campaign/">#TimeForTurf: The brains behind the campaign</a></li>
		<li>08/06/2022 - The Guardian <a href="https://www.theguardian.com/media/2022/jun/08/adverts-claiming-evergreens-plastic-grass-eco-friendly-asa">Adverts claiming plastic grass is eco-friendly are not allowed, says ASA</a></li>
		<li>06/04/2022 - Hort Week <a href="https://www.hortweek.com/covid-booster-horticulture-careers/horticulture-careers/article/1752286">Covid booster for horticulture careers</a></li>
	</ul>
	<h3>Radio and Podcasts</h3>
	<ul>
		<li>30/01/2024 - The Underground Podcast <a href="https://theunderground.fm/episode-2-charlotte-howard-capability-charlotte/">Capability Charlotte shares her trials and tribulations as a woman working in horticulture, from adequate facilities to comfortably fitting workwear</a></li>
		<li>12/01/2022 - The Limitless Lanscapers Podcast <a href="https://pod.co/the-limitless-landscapers-podcast/give-turf-a-chance-timeforturf-with-charlotte-howard">Give Turf a Chance #TimeForTurf With Charlotte Howard</a></li>
	</ul>
	<h3>Public speaking</h3>
	<p class="lead">
		Charlotte is a member of the <a href="https://www.gardenmediaguild.co.uk/guild-members/8aa71a29-baae-4223-850c-9dbde8a16953/">Garden Media Guild</a>
		and is a regular speaker on the Garden Club circuit and has been invited to be a guest speaker on <a href="https://www.landscapeshow.co.uk/speakers/charlotte-howard">The Landscape Show</a>. Her lectures include:
	</p>
	<ul>
		<li>My Life as a Garden Designer</li>
		<li>Garden Design for Dummies</li>
		<li>How to Design Your Garden</li>
		<li>Houseplants and How Not to Kill Them</li>
		<li>Getting to Grips with Your Soil</li>
		<li>Green With Envy &mdash; Are Green Walls all They Are Cracked Up to Be?</li>
		<li>New for 2025 &mdash; The Botanic Finds of The Lewis and Clarke Trail</li>
	</ul>
	<p class="lead">
		Charlotte also regularly runs a five week, live, online course called
		<a href="https://www.eventbrite.com/e/how-to-design-your-garden-with-special-guests-tickets-806978583667">How to Design Your Garden &mdash; With Special Guests</a>
	</p>
	<h2>Women in Gardening</h2>
	<p class="lead">
		As a female horticulturist, Charlotte is naturally an advocate for women in gardening and
		is running a campaign to get better workwear for women, called
		#WomenInUncomfortableWorkwear. She believes that ethical, affordable, safe, comfortable,
		professional workwear should be a right, not a privilege.
	</p>
	<p class="lead">
		Charlotte also founded the <a href="https://www.facebook.com/groups/382444845597732">Women in Gardening Networking Group</a>
		in 2018 as a safe space for women in horticulture to learn from and support each other.
		Charlotte hopes that its 3.6k strong, worldwide membership (fondly known as the 'WiGs') can be an inspirational force for change.
	</p>
</Layout>
