---
import Layout from '../layouts/Brochure.astro';
---

<Layout
  title="Thanks for getting in touch! - Capability Charlotte - Wiltshire-based wildlife friendly gardens"
  description="Creating a beautiful low budget garden of curved flower beds and wide paths."
>
  <h2>Thanks for getting in touch!</h2>
  <a href="/#contact">Back home</a>
</Layout>
