---
import Layout from '../layouts/Brochure.astro';
---

<Layout
  title="Thanks for getting in touch!"
>
  <h2>Thanks for getting in touch! I'll get back to you as soon as I can.</h2>
  <p>
    <a href="/#contact">Back home</a>
  </p>
</Layout>
