---
import Layout from '../layouts/Brochure.astro';
---

<Layout
	title="Terms and Conditions"
	description="Terms and Conditions"
>
	<h2>Terms and Conditions for Capability Charlotte Gardens</h2>
	<h3>Definitions</h3>
	<p class="lead">
		CCG, &lsquo;We&rsquo;, &lsquo;I&rsquo;, mean Capability Charlotte Gardens.
	</p>
	<p>
		&lsquo;The Client&rsquo;, &lsquo;You&rsquo;, mean the person or persons who request CCG to carry out work being liable to pay
		CCG fees jointly and severally.
	</p>
	<p>
		&lsquo;Project&rsquo;, &lsquo;Works&rsquo;, mean all hard and soft landscaping including preparation, construction and planting
		work. &lsquo;Quotation&rsquo;, &lsquo;Contract&rsquo;, and &lsquo;Proposal&rsquo; mean the written documents sent to You which incorporate
		these Terms &amp; Conditions.
	</p>
	<h3>Initial Consultation</h3>
	<p>
		Before I provide any Design Services there is an initial consultation(s). I will visit you at your
		garden and we can discuss your thoughts, ideas and the garden&rsquo;s potential. This gives you an opportunity
		to meet and get to know me. There is a £100 charge for the Initial Consultation. Travel over 30 miles
		from West Lavington will be charged at £0.50 per mile.
	</p>
	<h3>Design Fees &amp; Payment Schedules</h3>
	<p>
		After the Initial Consultation(s) if you wish me to provide Design Services I will provide an Outline
		Brief for the garden together with a Proposal/Quotation for my fees and a schedule of payments. The
		Proposal/Quotation will be based upon the condition of your garden at the time of my Initial
		Consultation(s) and valid for 30 days.
	</p>
	<p>
		The Proposal/Quotation is based on my best assessment of the time it will take me to perform the Design
		Services requested, if I find that it will take more hours than I estimated to complete the Design
		Services, these extra hours will be charged for in addition but I will not work these hours or charge
		for them, without first discussing it with you and receiving your agreement to proceed.
	</p>
	<p>
		Fees described in the Proposal/Quotation may be charged at an hourly rate or a fixed amount for
		specified work. Mileage if charged is at £0.50 per mile. Site visits charged as agreed.
	</p>
	<p>
		I will need to have your written confirmation (including by email) that you accept the
		Proposal/Quotation and these terms and conditions to enable me to proceed with the Design Services. I
		will require a non-refundable advance payment of 50% of the Proposal/Quotation at this stage to secure my services.
	</p>
	<h3>Stages of the Design Process</h3>
	<p>
		Below is a general guide to the process. Depending on the nature and size of the individual project,
		additional site visits, meetings, discussions and drawing stages may be required.
	</p>
	<h4>1. The Garden Survey</h4>
	<p>
		An accurate, scale survey of your garden will be required to produce the design. I draw by hand using
		tracing paper and drawing board, I also apply the labelling and colour by hand. Please see my website
		for examples of finished plans. Small, straight-forward, local gardens can often be surveyed by me and
		one other.
	</p>
	<p>
		With some larger or more complex projects, depending for example on factors such as topography and the
		size and scale of the project or the complexity of the site, including existing or proposed structures
		and ground conditions, it may be necessary for you to engage a specialist land surveyor to carry out the
		survey, or a building surveyor to advise upon some aspects of the site and the proposed design. If you
		do not know a surveyor who you wish to appoint then I can recommend a surveyor to whom I refer clients.
		The contract between You and the surveyor, including fees and payment terms will be an entirely separate
		contract between You and the surveyor. It is usually beneficial if I meet the surveyor on site on the
		day of the survey, to discuss the site and any particular requirements You have.
	</p>
	<h4>2. The Hard Landscape Design</h4>
	<p>
		This includes structural elements such as terraces, paths, borders, fences, walls, pergolas, raised bed,
		water features etc.
	</p>
	<ol>
		<li>Once the survey is completed I produce a base plan which I take with me for a second meeting at your
			home and together we design the garden, I usually come prepared with a mood board on One Note or
			Pinterest. At the end of the session (usually 2-3 hrs) I will check that You are happy with my rough
			pencil sketch this is usually a verbal agreement.</li>
		<li>I then go back to my studio to create a full-colour, hand-drawn garden design by an agreed deadline
			which will be presented to You in a plastic wallet at our third meeting. You will also receive
			uncoloured copies as well as digital copies of both. I retain hold of the master copy.</li>
		<li>As work progresses, if further discussions, meetings and amendments are required between stages 3
			and 4, these may be subject to additional charges for work over and above that which was initially
			estimated and/or agreed, but will be discussed with You first.</li>
		<li>Any amendments requested by You after the final drawing is completed will be charged for.</li>
		<li>Site meetings charged at previously agreed rate.</li>
		<li>I can provide reprinting of drawings on request. There is a fee of £30 for this service, plus postage.</li>
	</ol>
	<h4>3. The Planting</h4>
	<p>
		This is a separate and optional service, priced separately in the Proposal/Quotation and is
		undertaken after the Hard Landscape Design has been approved by You and is all about the plants.
		Most gardens do not require an additional drawing, in these cases a more cost-effective method
		is a one-to-one session of about 1.5-2 hours. This will be booked in order to discuss and draw
		up a plant list. Good quality plants are supplied by me in accordance with the agreed plant
		list (subject to availability) and in the quantities required for the design. I will order and
		take delivery of the plants on site and set them out in their positions, ready for planting by
		You or a professional gardener only after the hard landscaping works have been carried out by
		your Contractor. Payment for the plants is required 24 hours before delivery to your garden and
		before they are planted. All plant delivery charges are charged at cost to You as charged to me
		by the nursery. I am also happy to take You to any open to the public nurseries if you would
		like to choose. If a full hand drawn planting plan and plant list is required this will also be
		prices and quoted separately. Plant maintenance schedules are also available for an additional
		fee.
	</p>
	<h4>4. The Contractor&rsquo;s Stage</h4>
	<h5>Your Construction Budget</h5>
	<p>
		Some Clients are happy to instruct a design which incorporates all the features they would like without
		the constraints of a fixed construction budget. Other Clients may have a specific budget, in which case
		every effort is made to design a garden that reflects this figure. However, it is not always possible to
		accurately estimate the final cost of a design until it is presented to a Contractor for pricing, but
		once costed, if savings need to be made there are usually ways of doing this, for example with a change
		of materials, by removing an element of the design, or phasing part of the project.
	</p>
	<h5>Your Contractor</h5>
	<p>
		Although you will have to negotiate and agree the terms of a separate contract between You and the
		Contractor you wish to appoint to construct the garden I can assist You where requested, on the choice
		of Contractor to construct the garden. Where available I will recommend Contractors with whom I have had
		direct experience but this may not always be possible and whilst my recommendations are made in good
		faith, I shall have no liability for any defects in the Contractor&rsquo;s work or goods supplied, or be in
		anyway liable in the event of a dispute between Client and Contractor.
	</p>
	<p>
		After you have appointed your Contractor, any changes to the design requested by You during the
		construction stage may well affect your contract with the Contractor and all resulting cost implications
		and extensions of time (if any) will need to be agreed between You and the Contractor before You request
		a change in the design by me.
	</p>
	<h5>Self Builds</h5>
	<p>
		My advice throughout the build is only valid with a professional, qualified, insured landscaper. In some cases
		You may wish to build the garden yourself. In this case I accept no responsibility and cannot be held liable
		for any defects in the work or goods supplied.
	</p>
	<h5>Party Walls/Structural Work</h5>
	<p>
		Where detailed structural work is involved such as retaining walls, foundations and buildings including
		matters covered by the Party Walls Act it is recommended that You seek professional advice from a
		building surveyor and/or structural engineer in addition to your appointed Contractor. I accept no
		responsibility and cannot be held liable if You do not seek appropriate advice before and during the
		construction works.
	</p>
	<h5>My Role During Construction</h5>
	<p>
		Whilst I will not supervise or manage Your Contractor&rsquo;s works, I will make agreed site visits during the
		construction works, to liaise between You and the Contractor if you request and to help ensure that
		construction is progressing in accordance with the design. I will notify you of discrepancies between
		the design and the actual works being delivered so that you may take steps to rectify such changes as
		you see fit.
	</p>
	<p>
		An estimation of the number of anticipated visits will have been given and will be charged as per the
		agreed cost per site visit. Liaising with the Contractor and You also presents opportunities as the
		project takes shape, to see if, subject to Your approval, there may be small adjustments or variations
		that could be made to enhance the final result and is a valuable fine-tuning element of the
		construction.
	</p>
	<h5>Garden Lighting</h5>
	<p>
		If lighting is required in the garden I can produce an outline lighting plan for a qualified electrician
		to then design and cost a full electrical specification for you. All electrical works must be carried
		out and signed off by a qualified electrician. If you do not know a qualified electrician who you wish
		to appoint then, if requested, I can recommend a qualified electrician with whom I regularly work. The
		contract between You and your appointed electrician including the cost and payment terms will be an
		entirely separate contract between the Client and the electrician.
	</p>
	<h5>Ponds and Water Features</h5>
	<p>
		Depending on the size and complexity of a pond or water feature, this may need to be referred to a water
		specialist for full design, technical specification and installation and may not necessarily be included
		in the Contractor&rsquo;s remit. If this is the case then, if requested, I can recommend a suitable specialist
		You can appoint directly for this aspect of the project.
	</p>
	<h4>5. Completion and Handover</h4>
	<p>
		Once the garden is complete responsibility for the garden is dependent on You. Depending on the
		size of the garden, the extent of Your horticultural knowledge and available time, I may
		recommend considering the engagement of a qualified gardener to assist with the future care of
		the new garden. I am also available to 0ne-to-one seasonal mentoring sessions at £100 an hour.
	</p>
	<h5>Plant Care</h5>
	<p>
		I hope that you will be delighted with the results of our work, however, please bear in mind that
		gardens are living things and in the first 18 months will need correct care and attention. Gardens are
		greatly affected by external factors beyond our control including weather conditions, which can be both
		extreme and unexpected and they need time and patience to establish and develop. All plants and in
		particular, grass seed and/or wild flower mixes take a substantial amount of time to mature and evolve.
		In seeded areas stone picking, occasional spraying of opportunist perennial weeds and the re-emergence
		of any naturally occurring, indigenous seed beds already present on the site, should be expected. A
		regular mowing regime is also essential to the forward maintenance and establishment of these areas.
	</p>
	<p>
		A detailed maintenance schedule and seasonal site visits are not included in the Design Services, but if
		requested a bespoke maintenance schedule tailored to your circumstances can be drawn up for your garden
		at an additional cost after works have been completed by your appointed Contractor.
	</p>
	<h3>General Matters</h3>
	<h4>Client&rsquo;s Responsibilities</h4>
	<p>
		To make all necessary arrangements to enable me by arrangement, to visit and view the garden, and to
		ensure it is safe and that I have unimpeded access to the garden during working hours for the duration
		of my involvement in the project. To provide any necessary facilities to perform the Design Services
		including during the construction phase, water, electricity, use of lavatory.
	</p>
	<p>
		You will retain legal ownership or equivalent authority for work to be carried out at the property. You
		agree to obtain any Planning Permission or licences or other consents required for the garden project
		and provide details of any Tree Preservation Orders and any/all other restrictions. You agree that You
		will cover any fines or damages and indemnify CCG from and against any costs, claims, damages
		liabilities and expenses arising from any breach of planning permission, tree-work or licences in
		respect of the project, if these consents are not obtained. You agree to carry out correct and regular
		horticultural maintenance to facilitate the ongoing establishment of the garden after completion.
	</p>
	<h4>Payment</h4>
	<p>
		Preferred method is by BACS, but cheques are accepted. I am not registered for VAT.
	</p>
	<p>
		Payment will be by you to me by agreed instalments during the performance of the Design
		Services, as set out in the Proposal/Quotation. Payments are due on receipt of invoice. Typically,
		the schedule of payments will be:
		<ul>
			<li>50% of the Proposal/Quotation following my Initial Consultation(s) to accept the
				Proposal/Quotation and secure my services</li>
			<li>50% of the Proposal/Quotation on delivery of the design or report.</li>
		</ul>
	</p>

	<h5>Overdue Payments</h5>
	<p>
		CCG reserves the right to charge interest on all unpaid amounts where payment is not received
		within 7 days following delivery of an invoice with interest accruing at the rate of 8% per annum
		compounded monthly until full payment is received. Any costs and expenses incurred to recover payment
		will also be charged to the Client.
	</p>
	<h4>Delay or Cancellation</h4>
	<p>
		If You opt to delay construction or abandon it altogether, the balance of any design fee or outstanding
		design hours spent will be due to me upon completion of the design stages. All design works commissioned
		are fully chargeable, whether or not You are prevented from or decide not to install any design element.
	</p>
	<h4>Copyright and Intellectual Property Rights</h4>
	<p>
		Having first asked your permission to take photographs, those taken by me are copyrighted to me and I
		reserve the right to use photographs of the garden, before, during and after completion in promotional
		material, to illustrate my work. Only generic descriptions are used and no material used will include
		the client&rsquo;s personal information. However, if a client expressly requests in writing that photographs
		of their garden are not used, I will agree to such request. All sketches, designs, concepts, plans and
		documents prepared by me are the intellectual property of CCG and subject to copyright which remains
		mine notwithstanding the payment in full for the Design Services.
	</p>
	<h4>Supply of Defective Goods &amp; Plants</h4>
	<p>
		If at the time of delivery, any goods including plants have any defect or damage, please contact me
		immediately. I will either repair or replace as appropriate any which were defective at the time of
		delivery to you. CCG&rsquo;s liability is limited to the repair or replacement of such goods by similar goods
		and with plants of similar age and quality appropriate to the season in which they are replaced. In the
		event that you do not advise of any defect or damage to goods other than plants within seven days after
		delivery, you shall be deemed to have accepted the goods.
	</p>
	<p>
		After the Hand Over of the garden I cannot accept responsibility for plants dying or becoming damaged
		due to factors including but not limited to neglect, extreme weather conditions including wind, rain,
		heat or drought, disease, pest attack, inappropriate watering, a change in soil conditions or
		fertilisation by you at your property after delivering to you and any replacement of failed plants is at
		my discretion.
	</p>
	<p>
		If You cancel or terminate the contract, You remain responsible for either, the cancellation costs
		incurred by me for the goods and plants that CCG has ordered from a supplier (if these can be returned
		by me), or for full payment of any goods or plants that were ordered prior to cancellation or
		termination of the contract and which cannot be returned by me to the supplier. Until payment in full
		has been received for the goods supplied by me, the property and title to the goods including plants
		remains with CCG and you agree that I am authorised to enter the location where the goods are held to
		take possession of the goods including plants and if necessary remove them.
	</p>
	<h4>My Insurance</h4>
	<p>
		I have Public Liability to £2,500,000 is in place with QBE.
	</p>
	<h4>Confidentiality</h4>
	<p>
		I will treat all personal and business information supplied by You as confidential and not disclose such
		information to a third party without your prior permission, except where required by law.
	</p>
	<h4>Limitation of Liability</h4>
	<p>
		To the extent permitted by law, my liability to compensate you for any loss or damage howsoever caused
		is limited to my fee for Design Services.
	</p>
	<p>
		Without prejudice to the forgoing
	</p>
	<ul>
		<li>If you require me to produce only a design and not perform any other Design Services, I shall have
			no liability for any dissatisfaction you may experience because of the way in which the design is
			implemented.</li>
		<li>I am not liable if works on site are delayed by other companies employed by the Client including the
			Contractor appointed by you and reserve the right to reschedule the works and seek from You recovery
			of reasonable costs incurred as a direct result of delays caused by such companies.</li>
		<li>All start and finish dates are provisional only and necessarily weather dependent and may be
			affected by other causes beyond my control. Dates and timings will be offered in good faith but are
			not of the essence and no guarantees are or will be given and I shall have no liability in the event
			of a delayed start or finish date.</li>
		<li>I shall not be liable for any defects, discrepancies or deficiencies in the Contractor&rsquo;s execution
			of the design.</li>
		<li>If asked by the Client to move or transplant trees, shrubs or other existing plants on site and if I
			am willing to do this, this is at the Client&rsquo;s risk and no responsibility will be accepted by CCG
			for the survival of these plants.</li>
		<li>I shall have no liability for any delay of defects in any goods supplied by or workmanship or
			services provided by or damage caused by your Contractors or any third party whether recommended by
			me or not.</li>
	</ul>
	<h4>Consumer Complaints</h4>
	<p>
		I always endeavour to provide an efficient and wholly satisfactory service to all my clients but if You
		have a concern or complaint regarding any work carried out or goods supplied by me, I hope that in the
		first instance you feel you can discuss this with me so that we can address it. If you prefer please put
		your concerns in writing to my address below or by email. I will aim to resolve the matter promptly for
		You but if we are unable to reach agreement I am very happy to consider a conciliation or mediation
		service with you to address your concerns.
	</p>
	<h4>Distance Selling Regulations &amp; Off-Premises Contracts</h4>
	<p>
		Under the terms of the Consumer Contracts (Information, Cancellation and Additional Charges) Regulations
		2013, you may have the right to cancel our contract without giving any reason within 14 working days of
		accepting my Quotation by post or email to the CCG office within 14 days of accepting my Quotation. You
		will only be liable for the work carried out by me up to the date of your cancellation of my services.
		CCG is able to start working for you straightaway, before the 14 days have elapsed, but must have your
		express consent in writing to begin carrying out our services to start work straightaway.
	</p>
	<h3 id="vouchers">Terms and Conditions for Gift Vouchers</h3>
	<h4>Voucher Duration</h4>
	<p>Vouchers are valid for a period of 12 months from the date of purchase and cannot be redeemed after this
		expiry date.</p>
	<h4>Postal vouchers</h4>
	<p>Please allow up to 7 days for delivery of a postal gift voucher.</p>
	<h4>Voucher redemption</h4>
	<p>Services must be pre-booked. Vouchers can be redeemed by phone, online or email. Redemption contact
		details are provided on the voucher.</p>
	<h4>Refunds</h4>
	<p>Vouchers are non-refundable other than within the 14 day cancellation period as per the Consumer
		Contracts (Information, Cancellation and Additional Charges) Regulations 2013. No change or credit given
		in the event that the voucher value exceeds the total cost of the service.</p>
	<h4>Monetary vouchers</h4>
	<p>Monetary vouchers can be used for part or full. If the cost exceeds the amount of the gift voucher, the
		balance must be paid in full at the point of booking.</p>
	<h4>Transfer</h4>
	<p>Vouchers are non-transferable and cannot be exchanged for cash.</p>
	<h4>Lost or stolen vouchers</h4>
	<p>Lost, stolen or destroyed gift vouchers will not be exchanged or refunded.</p>
	<h4>Cancellation</h4>
	<p>In the unlikely event that a service needs to be cancelled, a new gift voucher shall be issued and shall
		be valid for a further 12 months. In the event that a service is cancelled by a voucher holder no refund
		shall be given.</p>
	<h4>Payment</h4>
	<p>Payment can be made by cash, cheque, PayPal or Bank Transfer. Account details will be provided via
		invoice.</p>

	<h3 id="consultation">Additional Terms and Conditions for Garden Consultations</h3>
	<p>
		Prices start at £500. Larger gardens may incur higher fees. Travel over 30 miles from West Lavington will be charged at £0.50 per mile. The service includes a visit of up to 2 hours plus a full written report. It does not include planting plans or drawings.
	</p>
	<p>
		Should you wish to upgrade the service to a Garden Design within 3 months of the invoice for the consultation being paid, the cost of the consultation will be subtracted from the final design fee. This discount does not apply to planting plans.
	</p>
	<p>
		The 'No Frills' consultation service only includes CCG's time. This does not include any form of written report. Travel over 30 miles from West Lavington will be charged at £0.50 per mile.
	</p>

	<h3 id="lectures">Terms and Conditions for Horticultural Lectures</h3>
	<h4>Booking and Confirmation</h4>
	<p>
		All bookings must be made in writing via email or letter. A booking is confirmed only upon receipt of written confirmation from both parties. The lecture fee, date, time, and venue must be agreed upon at the time of booking.
	</p>
	<h4>Fees and Payment</h4>
	<p>
		Lecture fees will be agreed upon before confirmation of the booking. A deposit of 50% may be required to secure the booking. Full payment is due no later than 7 days after the lecture date unless otherwise agreed in writing. Late payments may incur an additional charge of 10% per day.
	</p>
	<h4>Cancellations and Refunds</h4>
	<p>
		If the client cancels the booking more than 24 hours before the event, a full refund (minus any deposit) will be issued. Cancellations made within 24 hours of the event will be subject to a cancellation fee of 100% of the total cost. In the unlikely event that the lecturer must cancel, a full refund will be provided, or an alternative date will be offered.
	</p>
	<h4>Venue and Equipment</h4>
	<p>
		The client is responsible for providing a suitable venue for the lecture, including seating, lighting, and appropriate facilities. Any necessary equipment, such as a projector, microphone, or flipchart, must be arranged by the client unless agreed otherwise.
	</p>
	<h4>Content and Delivery</h4>
	<p>
		The content of the lecture will be agreed upon in advance to ensure it meets the client&rsquo;s requirements. The lecturer reserves the right to make adjustments to the content as necessary. The lecturer is not responsible for any personal interpretations or applications of the information provided.
	</p>
	<h4>Liability</h4>
	<p>
		The lecturer will take all reasonable care in delivering the lecture but accepts no liability for any loss, damage, or injury resulting from participation in the event. The client is responsible for ensuring adequate insurance coverage for the event, where applicable.
	</p>
	<h4>Copyright and Recording</h4>
	<p>
		All lecture materials, including slides, handouts, and recordings, remain the intellectual property of the lecturer. The client may not record, reproduce, or distribute lecture materials without prior written permission.
	</p>
	<h4>Force Majeure</h4>
	<p>
		Neither party shall be liable for failure to fulfil obligations due to circumstances beyond their control, such as natural disasters, illness, strikes, or government restrictions. In such cases, an alternative date will be arranged where possible.
	</p>
	<h4>Agreement</h4>
	<p>
		By confirming a booking, the client agrees to these terms and conditions. Any amendments to these terms must be agreed upon in writing by both parties.
	</p>
	<p>
		Capability Charlotte Gardens<br />
		Email: info@capabilitycharlotte.com<br />
		Mob: 07850065470<br />
	</p>
	<div class="center">
		<p class="lead">
		<a href="/">Home</a>
		</p>
	</div>
</Layout>
