---
---

<div class="announcement">
  <h2>Book now on my course <em>How to Design Your Garden &mdash; with special guests</em></h2>
  <p>
    This six-week, online twelve hour course is an introduction to the five basics of garden design and is perfect for both amateurs and professionals! This online course is conducted over Zoom and starts on 8th January 2025 at 6.00pm. <a href="https://www.eventbrite.co.uk/e/1074317194649" target="_blank">Book your tickets here</a>.
  </p>
</div>