---
const copyrightYear = new Date().getFullYear();
---

<footer>
	<div>
		<div>
			<p><a href="/terms/" title="Capability Charlotte's terms and conditions">Terms and Conditions</a> | Website &copy; Moray Macdonald {copyrightYear} | Content &copy;
				Charlotte Howard {copyrightYear} (unless otherwise stated)</p>
		</div>
	</div>
</footer>
