---
import InnerImage from './InnerImage.astro';
const props = Astro.props;
---

<div class="gallery-image">
	{props.link
		? <a href={props.link} title={props.title}><InnerImage {...props}><slot /></InnerImage></a>
		: <InnerImage {...props}><slot /></InnerImage>
	}
</div>
