---
import { Image } from 'astro:assets';
import logo from '../images/logo/CCG-web.jpg'
---

<header>
	<a href="/">
		<Image
			src={logo}
			alt="Capability Charlotte Gardens' Logo"
			title="Capability Charlotte Gardens"
			class="header-img"
		/>
	</a>
	<h1>Gardens Designed, Built and Managed</h1>
</header>

<style>
	.header-img {
		width: 12rem;
		height: 12rem;
	}
</style>